In [1]:
%load_ext sql

In [3]:
#Python Modules
import boto3
import json
import getpass
import configparser
import pandas as pd
import psycopg2

#Local Functions
import utils.redshift_utils as redshift_utils
from queries.sql_queries import staging_tables, dimm_tables
from scripts.create_tables import run as create_tables
from scripts.etl import run as etl

# AWS Setup

## Config

In [4]:
# Enter AWS KEY and Secret
KEY = getpass.getpass(prompt='Enter AWS Access key ID:')
SECRET = getpass.getpass(prompt='Enter AWS Secret access key')

Enter AWS Access key ID:········
Enter AWS Secret access key········

In [5]:
# Load Parameters from Config File
CONFIG_FILE = 'utils/dwh.cfg'
config = configparser.ConfigParser()
config.read(CONFIG_FILE)

#Provisioning
REGION = config.get("AWS","REGION")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_IAM_ROLE_NAME = config.get("IAM", "DWH_IAM_ROLE_NAME")

#Querying
DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

In [6]:
# S3 Client
s3 = boto3.resource('s3',
                    region_name=REGION,
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET
                   )

In [7]:
# Confirm Access to Sample Data
sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

## Role Provisioning

In [8]:
# Create Role
redshift_utils.create_role(KEY, SECRET, REGION)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
Role created: arn:aws:iam::561300861933:role/dwhRole

## Cluster Creation

In [9]:
# Create Cluster
redshift_utils.create_cluster(KEY, SECRET, REGION)

Redshift Cluster is getting created...
Cluster status: available
Endpoint: dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com
DWH_ENDPOINT ::  dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::561300861933:role/dwhRole

# ETL

## Create Tables

In [10]:
# Create staging, fact and dim tables
create_tables()

Running: DROP TABLE IF EXISTS staging_events
Running: DROP TABLE IF EXISTS staging_songs
Running: DROP TABLE IF EXISTS songplays
Running: DROP TABLE IF EXISTS users
Running: DROP TABLE IF EXISTS songs
Running: DROP TABLE IF EXISTS artists
Running: DROP TABLE IF EXISTS time
Running:
    CREATE TABLE IF NOT EXISTS staging_events (
    artist VARCHAR,
    auth VARCHAR,
    firstName VARCHAR,
    gender CHAR(1),
    itemInSession INTEGER,
    lastName VARCHAR,
    length FLOAT,
    level VARCHAR,
    location TEXT,
    method VARCHAR,
    page VARCHAR,
    registration FLOAT,
    sessionId INTEGER,
    song VARCHAR,
    status INTEGER,
    ts BIGINT,
    userAgent TEXT,
    userId INTEGER);

Running:
CREATE TABLE IF NOT EXISTS staging_songs (
    num_songs INTEGER,
    artist_id VARCHAR,
    artist_latitude FLOAT,
    artist_longitude FLOAT,
    artist_location TEXT,
    artist_name VARCHAR,
    song_id VARCHAR,
    title VARCHAR,
    duration FLOAT,
    year INTEGER);

Running:
CREATE TABLE IF NOT EXISTS songplays (
    songplay_id INTEGER IDENTITY(0,1) NOT NULL PRIMARY KEY,
    start_time TIMESTAMP,
    time_id VARCHAR,
    user_id INTEGER,
    level VARCHAR,
    song_id VARCHAR,
    artist_id VARCHAR,
    session_id INTEGER,
    location TEXT,
    user_agent TEXT);

Running:
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER NOT NULL PRIMARY KEY,
    first_name VARCHAR,
    last_name VARCHAR,
    gender CHAR(1),
    level VARCHAR);

Running:
CREATE TABLE IF NOT EXISTS songs (
    song_id VARCHAR NOT NULL PRIMARY KEY,
    title VARCHAR,
    artist_id VARCHAR,
    year INT,
    duration FLOAT);

Running:
CREATE TABLE IF NOT EXISTS artists (
    artist_id VARCHAR NOT NULL PRIMARY KEY,
    name VARCHAR,
    location TEXT ,
    latitude FLOAT ,
    longitude FLOAT);

Running:
CREATE TABLE IF NOT EXISTS time (
    TIME_ID VARCHAR NOT NULL PRIMARY KEY,
    start_time TIMESTAMP NOT NULL,
    hour INTEGER,
    day INTEGER,
    week INTEGER,
    month INTEGER,
    year INTEGER,
    weekday VARCHAR);

## Load Tables

In [11]:
# Load data into staging, fact and dim tables
etl()

Loading data into Staging Tables: ["\n    copy staging_events \n    from 's3://udacity-dend/log_data' \n    credentials 'aws_iam_role=arn:aws:iam::561300861933:role/dwhRole' \n    format as json 's3://udacity-dend/log_json_path.json' \n    compupdate off \n    region 'us-west-2';\n", "\n    copy staging_songs \n    from 's3://udacity-dend/song_data' \n    credentials 'aws_iam_role=arn:aws:iam::561300861933:role/dwhRole' \n    format as json 'auto' \n    compupdate off \n    region 'us-west-2';\n"]
Running:
    copy staging_events
    from 's3://udacity-dend/log_data'
    credentials 'aws_iam_role=arn:aws:iam::561300861933:role/dwhRole'
    format as json 's3://udacity-dend/log_json_path.json'
    compupdate off
    region 'us-west-2';

Running:
    copy staging_songs
    from 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::561300861933:role/dwhRole'
    format as json 'auto'
    compupdate off
    region 'us-west-2';

Loading data into Fact and Dim Tables: ["\n    INSERT INTO songplays (\n        start_time, \n        time_id,\n        user_id, \n        level,\n        song_id, \n        artist_id, \n        session_id, \n        location, \n        user_agent\n    ) \n    SELECT \n        timestamp 'epoch' + se.ts/1000 * interval '1 second', \n        md5(timestamp 'epoch' + se.ts/1000 * interval '1 second'),\n        se.userId, \n        se.level, \n        ss.song_id, \n        ss.artist_id, \n        se.sessionId, \n        se.location, \n        se.userAgent\n    FROM staging_events se \n    JOIN staging_songs ss ON (se.song = ss.title AND se.artist = ss.artist_name)\n    WHERE se.page = 'NextSong';\n", "\n    INSERT INTO users (\n        user_id, \n        first_name, \n        last_name, \n        gender, \n        level\n    ) \n    SELECT \n        DISTINCT userId, \n        firstName, \n        lastName, \n        gender, \n        level\n    FROM staging_events\n    WHERE page = 'NextSong' AND userId IS NOT NULL\n", '\n    INSERT INTO songs (\n        song_id, \n        title, \n        artist_id, \n        year, \n        duration\n    )\n    SELECT \n        DISTINCT song_id, \n        title, \n        artist_id, \n        year, \n        duration\n    FROM staging_songs\n    WHERE song_id IS NOT NULL\n', '\n    INSERT INTO artists (\n        artist_id, \n        name, \n        location, \n        latitude, \n        longitude\n    )\n    SELECT \n        DISTINCT artist_id, \n        artist_name, \n        artist_location, \n        artist_latitude, \n        artist_longitude\n    FROM staging_songs\n    WHERE artist_id IS NOT NULL\n', '\n    INSERT INTO time (\n        time_id,\n        start_time,\n        hour, \n        day, \n        week, \n        month, \n        year, \n        weekday\n    )\n    SELECT \n        DISTINCT time_id,\n        start_time, \n        EXTRACT(hour from start_time), \n        EXTRACT(day from start_time), \n        EXTRACT(week from start_time), \n        EXTRACT(month from start_time), \n        EXTRACT(year from start_time), \n        EXTRACT(weekday from start_time)\n    FROM songplays\n']
Running:
    INSERT INTO songplays (
        start_time,
        time_id,
        user_id,
        level,
        song_id,
        artist_id,
        session_id,
        location,
        user_agent
    )
    SELECT
        timestamp 'epoch' + se.ts/1000 * interval '1 second',
        md5(timestamp 'epoch' + se.ts/1000 * interval '1 second'),
        se.userId,
        se.level,
        ss.song_id,
        ss.artist_id,
        se.sessionId,
        se.location,
        se.userAgent
    FROM staging_events se
    JOIN staging_songs ss ON (se.song = ss.title AND se.artist = ss.artist_name)
    WHERE se.page = 'NextSong';

Running:
    INSERT INTO users (
        user_id,
        first_name,
        last_name,
        gender,
        level
    )
    SELECT
        DISTINCT userId,
        firstName,
        lastName,
        gender,
        level
    FROM staging_events
    WHERE page = 'NextSong' AND userId IS NOT NULL

Running:
    INSERT INTO songs (
        song_id,
        title,
        artist_id,
        year,
        duration
    )
    SELECT
        DISTINCT song_id,
        title,
        artist_id,
        year,
        duration
    FROM staging_songs
    WHERE song_id IS NOT NULL

Running:
    INSERT INTO artists (
        artist_id,
        name,
        location,
        latitude,
        longitude
    )
    SELECT
        DISTINCT artist_id,
        artist_name,
        artist_location,
        artist_latitude,
        artist_longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL

Running:
    INSERT INTO time (
        time_id,
        start_time,
        hour,
        day,
        week,
        month,
        year,
        weekday
    )
    SELECT
        DISTINCT time_id,
        start_time,
        EXTRACT(hour from start_time),
        EXTRACT(day from start_time),
        EXTRACT(week from start_time),
        EXTRACT(month from start_time),
        EXTRACT(year from start_time),
        EXTRACT(weekday from start_time)
    FROM songplays

# QA

In [12]:
# Establish Connection to Database
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    
# Create cursor object
cur = conn.cursor()

# Establish conection to the cluster
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
                                              
%sql $conn_string

'Connected: dwhuser@dwh'

## Staging Tables

In [13]:
redshift_utils.execute_qa_count_queries(cur, staging_tables)
redshift_utils.execute_qa_row_queries(cur, staging_tables)

staging_events has [(8056,)] records.
staging_songs has [(14896,)] records.
Each row in staging_events has the following structure: [('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101)].
Each row in staging_songs has the following structure: [(1, 'ARC43071187B990240', None, None, 'Wisner, LA', 'Wayne Watson', 'SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 245.21098, 0)].

## Fact & Dim Tables

In [14]:
redshift_utils.execute_qa_count_queries(cur, dimm_tables)
redshift_utils.execute_qa_row_queries(cur, dimm_tables)

songplays has [(333,)] records.
users has [(104,)] records.
songs has [(14896,)] records.
artists has [(10025,)] records.
time has [(333,)] records.
Each row in songplays has the following structure: [(216, datetime.datetime(2018, 11, 14, 15, 47, 47), '9210e32c438f43a67198b9f88f8cc519', 80, 'paid', 'SOHOVIP12A6D4F9267', 'ARQQ5B61187B9B4F61', 574, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')].
Each row in users has the following structure: [(48, 'Marina', 'Sutton', 'F', 'free')].
Each row in songs has the following structure: [('SOUJCGZ12AC4688886', 'Lonely', 'ARO9YA11187B98F5D8', 2009, 200.41098)].
Each row in artists has the following structure: [('ARKGBWV1187B988D5E', 'Mulgrew Miller', 'Greenwood, MS', None, None)].
Each row in time has the following structure: [('027cdbc40d5a0da64333d64bf32514ee', datetime.datetime(2018, 11, 15, 10, 44, 29), 10, 15, 46, 11, 2018, '4')].

# Analysis

### What timeframe of data do we have?

In [15]:
%%sql
SELECT distinct month, year from time;

 * postgresql://dwhuser:***@dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(11, 2018)]

### Which songs are getting the most users listening?

In [16]:
%%sql
SELECT a.name as artist, s.title AS song, count(distinct user_id) AS users_listening
FROM songplays sp 
JOIN songs s ON (s.song_id = sp.song_id) 
JOIN artists a ON (a.artist_id = sp.artist_id)
GROUP BY a.name, song
ORDER BY count(distinct user_id) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', "You're The One", 22),
 ('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 7),
 ('Ron Carter', "I CAN'T GET STARTED", 6),
 ('Kid Cudi', 'Up Up & Away', 5)]

### Which songs are getting the most plays?

In [17]:
%%sql
SELECT a.name as artist, s.title AS song, count(*) AS users_listening
FROM songplays sp 
JOIN songs s ON (s.song_id = sp.song_id) 
JOIN artists a ON (a.artist_id = sp.artist_id)
GROUP BY a.name, song
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', "You're The One", 37),
 ('Ron Carter', "I CAN'T GET STARTED", 9),
 ('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ('Usher featuring Jermaine Dupri', "Hey Daddy (Daddy's Home)", 6)]

### When is the highest usage time of day by hour for songplays?

In [18]:
%%sql
SELECT t.hour, count(*) AS frequency
FROM songplays sp
JOIN time t
    ON sp.time_id = t.time_id
GROUP BY hour
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(17, 40), (18, 26), (15, 25), (16, 24), (8, 18)]

### What is the highest usage time of day per day of week for songplays?

In [19]:
%%sql
SELECT t.weekday, t.hour, count(*) AS frequency
FROM songplays sp
JOIN time t
    ON sp.time_id = t.time_id
GROUP BY weekday, hour
ORDER BY count(*) desc

 * postgresql://dwhuser:***@dwhcluster.cpv06saxkagp.us-west-2.redshift.amazonaws.com:5439/dwh
122 rows affected.

[('5', 17, 10),
 ('1', 17, 9),
 ('4', 16, 8),
 ('4', 17, 8),
 ('2', 18, 7),
 ('2', 20, 7),
 ('3', 15, 7),
 ('1', 18, 6),
 ('1', 11, 6),
 ('4', 21, 6),
 ('5', 16, 6),
 ('4', 15, 5),
 ('4', 14, 5),
 ('1', 13, 5),
 ('4', 10, 5),
 ('1', 8, 5),
 ('3', 23, 5),
 ('1', 15, 5),
 ('3', 8, 5),
 ('3', 9, 5),
 ('2', 17, 4),
 ('2', 16, 4),
 ('4', 19, 4),
 ('2', 8, 4),
 ('4', 13, 4),
 ('5', 18, 4),
 ('3', 17, 4),
 ('3', 18, 4),
 ('1', 7, 4),
 ('4', 11, 4),
 ('6', 17, 4),
 ('5', 14, 4),
 ('5', 19, 4),
 ('4', 1, 3),
 ('5', 20, 3),
 ('6', 15, 3),
 ('2', 22, 3),
 ('3', 1, 3),
 ('5', 10, 3),
 ('5', 12, 3),
 ('5', 6, 3),
 ('1', 14, 3),
 ('4', 18, 3),
 ('3', 22, 3),
 ('3', 7, 3),
 ('3', 21, 3),
 ('6', 4, 3),
 ('3', 20, 3),
 ('3', 19, 3),
 ('6', 5, 3),
 ('0', 6, 3),
 ('1', 16, 3),
 ('4', 12, 3),
 ('6', 23, 2),
 ('1', 6, 2),
 ('6', 14, 2),
 ('0', 15, 2),
 ('5', 0, 2),
 ('5', 15, 2),
 ('6', 12, 2),
 ('1', 23, 2),
 ('1', 2, 2),
 ('2', 11, 2),
 ('4', 8, 2),
 ('0', 9, 2),
 ('3', 5, 2),
 ('2', 7, 2),
 ('0', 19, 2),
 ('1', 1, 2),
 ('0', 16, 2),
 ('1', 10, 2),
 ('3', 11, 2),
 ('0', 20, 2),
 ('6', 20, 2),
 ('3', 13, 2),
 ('4', 7, 2),
 ('2', 19, 2),
 ('2', 1, 2),
 ('3', 12, 2),
 ('6', 9, 2),
 ('5', 21, 1),
 ('6', 1, 1),
 ('0', 18, 1),
 ('3', 6, 1),
 ('0', 17, 1),
 ('2', 15, 1),
 ('5', 11, 1),
 ('3', 14, 1),
 ('1', 4, 1),
 ('5', 8, 1),
 ('2', 4, 1),
 ('5', 7, 1),
 ('3', 0, 1),
 ('5', 13, 1),
 ('2', 13, 1),
 ('2', 10, 1),
 ('3', 4, 1),
 ('5', 22, 1),
 ('1', 21, 1),
 ('3', 3, 1),
 ('1', 0, 1),
 ('6', 8, 1),
 ('5', 4, 1),
 ('2', 12, 1),
 ('6', 11, 1),
 ('0', 7, 1),
 ('2', 0, 1),
 ('1', 12, 1),
 ('6', 13, 1),
 ('6', 16, 1),
 ('2', 23, 1),
 ('4', 2, 1),
 ('2', 14, 1),
 ('1', 3, 1),
 ('6', 19, 1),
 ('1', 5, 1),
 ('5', 5, 1),
 ('4', 0, 1),
 ('6', 18, 1),
 ('5', 23, 1),
 ('4', 20, 1),
 ('6', 21, 1)]

# Clean Up

In [20]:
redshift_utils.redshift_cleanup(KEY, SECRET, REGION)

Redshift Cluster is getting getting deleted...
dwhCluster has been deleted!